{% extends "base.njk" %}

{% block content %}
<h1>Job Specifications</h1>

{% if all_job_specs|length %}

<h3>Listed below are the job specification for jobs at Kainos</h3>

<table class="table" style="margin-top:2%">
  <thead>
    <tr>
      <th scope="col">Name of Job Role</th>
    </tr>
  </thead>
  <tbody>
  {% for allspec in all_job_specs %}
    <tr>
      <th scope="row">{{role.name}}</th>
      <th scope="row">{{role.specification}}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <h2>There are no job role specifications</h2>
{% endif %}


{% endblock %} 