{% set title = data.family[0].name %}
{% extends "base.njk" %}

{% block content %}
{% if data|length %}

<h1 id="job-role-heading">Job Roles By Band and Job Family</h1>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col" style="text-align:center;" colspan="{{ data.family[0].jobFamiliesNames|length + 1 }}">
        {{data.family[0].name}}</th>
    </tr>
    <tr>
      <th scope="col">Bands</th>
      {% for family in data.family[0].jobFamiliesNames %}
      <th scope="col">{{family}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>

    {% for band in data.band_level %}
    <tr>
      <th scope="row">{{band.name}}</th>


      {% for family in data.family[0].jobFamiliesNames%}
      {% set addSqaure = false %}
         {% for role in data.roles %}
             {% if role.jobFamilyName == family and role.bandName == band.name %}
                <td>{{role.name}}</td>
                   {% set addSqaure = true %}
             {% endif %}
          {% endfor %}
          {% if not addSqaure %}
              <td></td>
          {% endif %}
      {% endfor %}


    </tr>
    {% endfor %}
  </tbody>


</table>

{%else%}
<p>Sorry, no capabilities have been returned from our database. Please try again later!</p>

{% endif %}

{% endblock %}