{% extends "base.njk" %}

{% block content %}

   <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white;">
                <li class="breadcrumb-item">
                    <a class="breadcrumb-text" href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-text" href="/bands-training">Training</a>
                </li>
                <li class="breadcrumb-item active" aria-current="/bands-training/bands-competencies">Band Competencies</li>
            </ol>
        </nav>
    </div>



<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3" id="text">Competencies of bands</h1>
      <p id="subtitle-text">
        Listed below are competencies of each band at Kainos.
      </p>
    </div>
  </div>
</div>

{% if bands|length %}

<div class="container">
  {%for band in bands%}

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header accordion-bar" id="according-heading-{{band.name}}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left accordian-heading" type="button" data-toggle="collapse" onclick="rotateIcon('{{band.name}}')"
            data-target="#{{band.name}}" aria-expanded="true" aria-controls="collapseOne">
            <i id="arrow-icon-{{band.name}}" class="fas fa-angle-right rotate-icon"></i> {{band.name}} 
          </button>
        </h2>
      </div>

      <div id="{{band.name}}" class="collapse" aria-labelledby="according-heading-{{band.name}}" data-parent="#accordionExample">
        <div class="card-body">
          {% for comp, desc in band.competenciesInfo%}
          <h4 id="title-text">{{comp}}</h4>
          <ul>
            {% for items in desc %}

            <li>{{items}}</li>

            {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>
    </div>
    <br>
    <br>
    {%endfor%}
  </div>
  {% else %}
  <h4>Sorry, no competency informations have been returned from our database. Please try again later!</h4>
  {% endif %}
</div>

<script>

function rotateIcon(bandName){
  //Get all the icon elements
  var icons = Array.from(document.getElementsByClassName('fa-angle-right'));
    icons.forEach(element => {
      console.log(element.id)
      //if icon is the selected icon then toggle rotation else remove rotation. 
      element.id == "arrow-icon-"+bandName? element.classList.toggle("rotate"): element.classList.remove('rotate');
    });
}

</script>

{% endblock %}