{% extends "base.njk" %}

{% block content %}

  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3" id="text">Competencies of bands</h1>
        <p id="subtitle-text">
          Listed below are competencies of each band at Kainos.
        </p>
      </div>
    </div>
  </div>

  {% if bands | length %}

    <div class="container">
      
        {%for band in bands%}
          <br>
          <h1 id="title-text">{{band.name}}</h1>
          {%for competency in band.competency_info%}
            <div class="card h-100 bg-light mb-3 jumbotron-fluid" style="width: 100%;">
            <div class="card-body" style="min-height: 20%;"> 
                <h4 class="card-text">{{competency[0]}}</h4>
                <p class="card-text">{{competency[1]}}</p>
              </div>
            </div>
            {%endfor%}
            {%endfor%}
      {% else %}
        <h4>Sorry, no competency informations  have been returned from our database. Please try again later!</h4>
      {% endif %}
    </div>

  {% endblock %}