{% extends "base.njk" %}
{% block content %}
    <h1>Correctly deleted {{what}} with {{what_id}}</h1>
    <br>
    <h3><a  class="btn btn-primary text-white" onclick="javascript:history.go(-3)">Go back </a><h3>
{% endblock %}