{% set title = "Job Roles" %}
{% extends "base.njk" %}

{% block content %}

  {% if job_roles | length %}

    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3" id="text">Job Roles</h1>
          <p id="text">
        Listed below are the job roles available at Kainos
      </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mb-3">
        {% for role in job_roles %}
          {% if loop.index % 5 == 0 %}
          </div>
          <div class="row mb-3">
          {% endif %}
          <div class="col-lg-3">
            <div class="card h-100 bg-light mb-3 jumbotron-fluid" style="width: 100%;">
              <div class="card-body" style="min-height: 20%;">
                <h5 class="card-title">{{role.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{role.job_family_name}}</h6>
                <h6 class="card-subtitle mb-2">{{role["band"].name}}</h6>
                <p class="card-text"></p>
                <a href="/job-roles-spec/{{role.id}}" class="card-link">View Specification</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p>Sorry, no job roles have been returned from our database. Please try again later!</p>
  {% endif %}

{% endblock %}