{% extends "base.njk" %}

{% block content %}

  {% if job_roles | length %}

    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3" id="text">Job Role Capabilities</h1>
          <p id="text">
             Listed below are the capabilities for jobs at Kainos
            </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">Capabilities</th>
              <th scope="col">Job Role</th>
              <th scope="col">View Job Families</th>
              <th scope="col">View Capability Matrix</th>
            </tr>
          </thead>
          <tbody>
            {% for role in job_roles | sort(false, true, 'capability') %}
              <tr>
                <td>{{role.capability}}</td>
                <td>{{role.name}}</td>
                <td>
                  <a href="/capabilities/get/{{role.capability}}">View Job Families</a>
                </td>
                <td>
                  <a href="/capabilities/matrix/{{role.capability}}">View Capability Matrix</a>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {%else%}
        <p>Sorry, no job capabilities have been returned from our database. Please try again later!</p>

      {% endif %}
    </div>
  {% endblock %}