{% extends "base.njk" %}

{% block content %}
<h1>Job Roles</h1>

{% if job_roles|length %}

<h3>Listed below is the job roles at Kainos</h3>

<table class="table" style="margin-top:2%">
  <thead>
    <tr>
      <th scope="col">Name of Job Role</th>
      <th scope="col">Specification</th>
    </tr>
  </thead>
  <tbody>
  {% for role in job_roles %}
    <tr>
      <td scope="row">{{role.name}}</td>
      <td scope="row">{{role.specification}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <h2>There are no job roles</h2>
{% endif %}


{% endblock %} 