{% extends "base.njk" %}

{% block content %}

{% if job_roles_spec|length %}
<div class="container">

<br>
<h1>Listed below are the specfications for jobs at Kainos</h1>
<br>
<br>
<div class="table-responsive">
 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Job Role</th>
      <th scope="col">Specfication</th>
      <th scope="col">Link to Sharepoint</th>
    </tr>
  </thead> 
  <tbody>
    <tr>
      
      <td>{{job_roles_spec.name}}</td>
      <td>{{job_roles_spec.specification}}</td>
      <td><a href="//{{job_roles_spec.url}}">{{job_roles_spec.url}}</a></td>
      
    </tr>
  </tbody>
</table>
</div>
</div>
{% else %}

<p>Sorry, no job specfications have been returned from our database. Please try again later!</p>

{% endif %}


{% endblock %} 