{% extends "base.njk" %}

{% block content %}

{% if job_roles|length %}
<div class="container">
<h1>Job Capabilities</h1>
<p>Listed below are the capabilities for jobs at Kainos</p>
<br>
<div class="table-responsive">
 <table class="table">
  <thead class="thead-dark">
    <tr>
       <th scope="col">Capabilities</th>
        <th scope="col">Job Role</th>
         <th scope="col">View Job Families</th>
         <th scope="col">View Capability Matrix</th>
    </tr>
   </thead> 
  <tbody>
  {% for role in job_roles | sort(false, true, 'capability') %}
  <tr>
   <td>{{role.capability}}</td>
   <td>{{role.name}}</td>
   <td><a href="/capabilities/get/{{role.capability}}">View Job Families</a></td>
   <td><a href="/capabilities/matrix/{{role.capability}}">View Capability Matrix</a><td>
   </tr>
  {% endfor %}
  </tbody>

  </table>
  </div>
  </div>
  {%else%}
<p>Sorry, no capabilities have been returned from our database. Please try again later!</p>

{% endif %}

{% endblock %} 
