{% extends "base.njk" %}

{% block content %}

{% if job_roles_spec|length %}
<div class="container">
<h1 style="margin-bottom: 5%;">Job Role Details</h1>
<h3>{{job_roles_spec.name}}</h3>
<hr>
<div style="margin-left: 5%;">
<h5>Specfication:</h5> <p>{{job_roles_spec.specification}}</p>

<h5>Band Level:</h5> <p>{{job_roles_spec["band"].name}}</p>
{% if job_roles_spec.url != null %}
<h5>URL:</h5> <a href="{{job_roles_spec.url}}">View Spec Doc</a>
{% endif %}
<br>
<p><h5 id="responsibility-title">Responsibilities:</h5></p>
<ul>
{%for resp in job_roles_spec.responsibilities %}
   <li>{{resp.name}}</li> 
{%endfor%}
</ul>
</div>
</div>
{% else %}
  <p>Sorry, no job specifications have been returned from our database. Please try again later!</p>
{% endif %}


{% endblock %} 