{% extends "base.njk" %}
{% block content %}
    <h1>Succesfully added a new capability</h1>
    <br>
    <h3><a  class="btn btn-primary text-white" onclick="javascript:history.go(-2)">Go back </a><h3>
{% endblock %}