{% extends "base.njk" %}

{% block content %}

{% if bands|length %}
<div class="container">
{%for band in bands|sort(false,true,'trainings.type')%}
<br>
<br>
<h1>{{band.name}}</h1>
<br>
<br>


<h4>Professional Skills</h4>
{%for training in band.trainings%}
{% if training.type == "Professional Skills" %}
<ul>
    <li> {{training.name}}</li>
</ul>
{%endif%}
{%endfor%}


<br>
<h4>Technical Skills</h4>
{%for training in band.trainings%}
{%if training.type == "Technical Skills"%}
<ul>
    <li> {{training.name}}</li>
</ul>
{%endif%}
{%endfor%}

<br>
<h4>Development Programmes</h4>
{%for training in band.trainings%}
{%if training.type == "Development Programmes"%}
<ul>
    <li> {{training.name}}</li>
</ul>
{%endif%}
{%endfor%}


{%endfor%}
</div>
{% else %}
  <h2>Sorry, no training options have been returned from our database. Please try again later!</h2>
{% endif %}


{% endblock %} 