{% extends "base.njk" %}

{% block content %}

{% block css %}
<link href="css/style.css" rel="stylesheet">
{% endblock %}

{% if bands | length %}

<div class="background">
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3" id="text">Job Training</h1>
        <p id="text">
          Listed below are the training required for each band level.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    {%for band in bands|sort(false,true,'trainings.type')%}
    <br>
    <h1>{{band.name}}</h1>
    <br>

    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="50">Professional Skills</th>
            <th scope="col" width="50">Technical Skills</th>
            <th scope="col" width="50">Development Programmes</th>
          </tr>
        </thead>
        <tbody>
          <td>
            {%for training in band.trainings%}
            {% if training.type == "Professional Skills" %}
            {{training.name}}<br>
            Description: {{training.description}}<br>
            {% if training.url != null %}
            <a href="{{training.url}}">Find out more</a>

            {% endif %}
          </td>
          {%endif%}
          {%endfor%}
          <td>
            {%for training in band.trainings%}
            {% if training.type == "Technical Skills" %}
            {{training.name}}<br>
            Description: {{training.description}}<br>
            {% if training.url != null %}
            <a href="{{training.url}}">Find out more</a>
            {% endif %}
          </td>
          {%endif%}
          {%endfor%}
          <td>
            {%for training in band.trainings%}
            {% if training.type == "Development Programmes" %}
            {{training.name}}<br>
            Description: {{training.description}}<br>
            {% if training.url != null %}
            <a href="{{training.url}}">Find out more</a>
            {% endif %}
          </td>
          {%endif%}
          {%endfor%}
        </tbody>
      </table>
    </div>

    {%endfor%}
  </div>
</div>
{% else %}
<h2>Sorry, no training options have been returned from our database. Please try again later!</h2>
{% endif %}

{% endblock %}