#kainos-logo{
    width: 70%;
    height: 15%;
    margin-left: 5%;
    
}

.btn-primary {
    color: #fff;
    background-color: #283588;
    border-color: #283588;
}
.job-spec-paragragh{
    margin-bottom: 5%; 
    display: inline; 
    font-size: large;
    color: aqua;
    
}
#bandLevelElement{
    margin-bottom: 5%; 
    display: inline; 
    font-size: large;
}